$VeryDarkBlue:  hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);
$primary-color: hsl(0, 0%, 100%);

$brightBlue: hsl(224, 93%, 58%);
$moderate: hsl(170, 45%, 43%);

$light-gray-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

