*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem; }

h2 {
  font-weight: 700;
  font-size: 3rem; }

h6 {
  font-weight: 700;
  font-size: 1.1rem; }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
    text-align: center; }
  p {
    text-align: center;
    font-size: 1.3rem; } }

.header {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center; }
  .header__nav {
    list-style: none;
    display: flex;
    flex-direction: row; }

li {
  margin-right: 2.5rem; }

.heading {
  display: flex;
  padding: 8rem 3rem;
  justify-content: space-between; }
  .heading__text {
    flex-direction: column; }
    .heading__text--sub {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 1.5; }
    .heading__text--email {
      padding: 1rem 1rem;
      outline: 0;
      width: 45%;
      border-radius: 3px;
      border: 1px solid #bdbdbd; }
    .heading__text--btn {
      background-color: #3065f8;
      color: white;
      border-radius: 2px;
      margin-top: 2rem;
      outline: 0;
      width: 25%;
      border: none;
      padding: 1rem 1.6rem; }

.bg-img {
  width: 50%; }

.testimonial {
  background-color: #f6f6fe;
  margin-top: 10rem; }
  .testimonial__card {
    background-color: white;
    border-radius: 5px;
    margin-top: 4rem;
    width: 40%;
    height: fit-content; }
    .testimonial__card--content {
      padding: 3rem 2.5rem; }
    .testimonial__card--text {
      font-size: 1.4rem;
      line-height: 1.5; }
    .testimonial__card--avatar img {
      border-radius: 50%;
      width: 25%; }
    .testimonial__card--avatar p {
      font-size: 1rem; }
  .testimonial__btn {
    border: 0;
    margin-top: 1rem;
    border-bottom: 2px solid #3c9f8f;
    outline: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #3c9f8f; }
    .testimonial__btn--icon {
      margin-right: .8rem;
      padding-left: 1rem; }
  .testimonial__text--sub {
    line-height: 1.5;
    width: 70%; }
  .testimonial__text--subtwo {
    margin-top: 3rem;
    width: 70%; }

.contents {
  display: flex;
  background: url("images/bg-curve-desktop.svg");
  padding: 3rem 3rem;
  justify-content: space-between; }

.testimonial_img {
  width: 40%; }

.access {
  background-color: #585989;
  padding: 4rem 3rem; }
  .access__contents {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .access__contents--mail {
      background-color: white;
      width: 180%;
      padding: 1rem 1rem;
      outline: 0;
      border: 0; }
    .access__contents--btn {
      background-color: #3065f8;
      color: white;
      border-radius: 2px;
      margin-top: 2rem;
      outline: 0;
      border: none;
      padding: 1rem 1.6rem; }
  .access__contents--main {
    color: white; }
  .access__contents--sub {
    color: white;
    line-height: 1.5;
    margin-top: 2rem;
    font-size: 1.4rem;
    width: 45%; }

.mail {
  display: flex;
  flex-direction: column;
  margin-right: 25rem; }

.footer {
  background-color: #070439;
  color: white; }
  .footer__logo {
    padding: 4rem 9rem; }
  .footer p {
    font-size: 1rem;
    text-align: center; }
  .footer__list {
    display: grid;
    padding: 3rem 9rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10rem; }
  .footer li {
    margin-top: 1.7rem;
    list-style-type: none;
    display: flex;
    align-items: center; }

@media screen and (max-width: 1020px) {
  .footer__logo {
    padding: 4rem 3rem;
    fill: white; }
  .footer__list {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem 4rem; }
  .header {
    padding: 1.5rem 2rem; }
    .header__nav {
      margin-right: 2rem; }
    .header__logo {
      width: 40%; }
  li {
    margin-right: 1rem;
    font-size: 1rem; }
  .heading {
    display: flex;
    flex-direction: column-reverse; }
    .heading__text {
      display: flex;
      flex-direction: column; }
      .heading__text--main {
        margin-top: 2rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: center; }
      .heading__text--sub {
        font-size: 1.3rem; }
      .heading__text--email {
        width: 100%;
        margin-top: 1.5rem; }
      .heading__text--btn {
        width: 100%; }
  .bg-img {
    width: 100%; }
  .contents {
    display: flex;
    flex-direction: column-reverse; }
  .mail {
    margin: auto; }
  .testimonial_img {
    width: 100%; }
  .testimonial__text--sub {
    width: 100%; }
  .testimonial__text--subtwo {
    width: 100%; }
  .testimonial__text button {
    margin: 1.8rem auto; }
  .testimonial__card {
    width: 100%; }
  .access__contents {
    display: flex;
    flex-direction: column; }
    .access__contents--sub {
      width: 100%; }
    .access__contents--mail {
      width: 100%;
      margin-top: 2rem; } }
